<button
  class="btn" type="submit"
  [disabled]="form.invalid">
  Отправить
</button>

<!--

<div *ngIf="send; then register else cancel">
  <button
    class="btn" type="submit"
    [disabled]="form.invalid">
    Отправить
  </button>
</div>
<ng-template #register>
  <button
    class="btn" type="submit"
    [disabled]="form.invalid">
    Регистрация
  </button>
</ng-template>
<ng-template #register>
  <button
    class="btn" type="submit"
    [disabled]="form.invalid">
    Отмена
  </button>
</ng-template>

-->

<!--

<ng-content select="button" class="btn"></ng-content>
-->
