@import url(../../assets/css/colors.css);

.not-found-wrap{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}

.not-found{
  max-width: 30em;
  width: 100%;
  margin: 2.5em auto;
  height: 5em;
  padding-top: 2em;
  color: var(--direction-color);
  font-size: 2em;
  text-align: center;
  background-color: var(--direction-bgd-color);
  border: 2px solid var(--direction-border-color);
  border-radius: 5px;
}
