@import "../../../assets/css/colors.css";


.auth-form__card{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}

.auth-form {
  /*box-sizing: border-box;
  background: url("../../../assets/image/fon_2.jpg");
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  position: fixed;
  width: 25em;
  border: 1px solid lightgray;
  top: 50%;
  left: 50%;
  padding: 20px;
  margin-left: -170px;
  margin-top: -100px;*/
}

.auth-form__form {
  max-width: 22em;
  padding: 5em 1.875em 1.875em;
  margin: 3.125em auto 1.875em;
  background: var(--login-form-bgd);
}

.auth-form__form h3 {
  position: relative;
  z-index: 5;
  margin: 0 0 3.75em;
  text-align: center;
  color: var(--login-form-h3);
  font-size: 1.875em;
  font-weight: normal;
}

.auth-form__form h3:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 2em;
  top: -0.875em;

  background: url("../../../assets/image/vandrounik_logo.png") ;
  background-repeat:no-repeat;
  background-size: 8em 4em;
  opacity: 0.2;
  width: 8em;
  height: 6.25em;
  /*
 width: 6.25em;
 height: 6.25em;
  border-radius: 50%;
  background: #fee8e4;*/
}
/*.auth-form__form h3:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 50px;
  top: -40px;
  width: 0;
  height: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  border-bottom: 90px solid #ffe3b5;
}*/

.form-group {
  position: relative;
  margin-bottom: 40px;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0 0.625em;
  line-height: 2.5em;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 0.125em solid var(--login-form-border-bottom);
  transition: all 0.2s ease;
}

.form-group label {
  position: absolute;
  left: 13px;
  color: var(--login-form-label-color);
  font-size: 1.25em;
  font-weight: 300;
  transform: translateY(-2.2em);
  transition: all 0.2s ease;
}

.form-group input:focus {
  outline: 0;
  border-color: #F77A52;
}

.form-group input:focus + label,
.form-group input:valid + label {
  transform: translateY(-3.75em);
  margin-left: -0.875em;
  font-size: 0.875em;
  font-weight: 400;
  outline: 0;
  border-color: #F77A52;
  color: #F77A52;
}

.login__form input[type="submit"] {
  width: 100%;
  padding: 0;
  line-height: 42px; /*2.625em*/
  background: var(--login-form-btn-bgd);
  border-width: 0;
  color: white;
  font-size: 1.25em;
}

.login__form p {
  margin: 0;
  padding-top: 0.625em;
}
