<section>
  <h2>Регистрация</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" formControlName="firstName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formField.firstName.errors }"/>
      <label for="firstName">Имя</label>

      <div *ngIf="submitted && formField.firstName.errors" class="invalid-feedback">
        <div *ngIf="formField.firstName.errors.required">Введите Ваше имя!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Фамилия</label>
      <input type="text" formControlName="lastName" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formField.lastName.errors }"/>
      <div *ngIf="submitted && formField.lastName.errors" class="invalid-feedback">
        <div *ngIf="formField.lastName.errors.required">Введите Вашу фамилию!</div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formField.username.errors }"/>
      <label for="username">Имя пользователя</label>
      <div *ngIf="submitted && formField.username.errors" class="invalid-feedback">
        <div *ngIf="formField.username.errors.required">Введите имя пользователя!</div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formField.email.errors }"/>
      <label for="email">E-mail</label>
      <div *ngIf="submitted && formField.username.errors" class="invalid-feedback">
        <div *ngIf="formField.email.errors.required">Введите Ваш e-mail!</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && formField.password.errors }"/>
      <label for="password">Пароль</label>
      <div *ngIf="submitted && formField.password.errors" class="invalid-feedback" minlength="6">
        <div *ngIf="formField.password.errors.required">Введите пароль!</div>
        <div *ngIf="formField.password.errors.minlength">Пароль должен состоять не менее 6 символов!</div>
      </div>
    </div>
    <div class="form-group">
      <ng-template #register></ng-template>
<!--      <button [disabled]="loading" class="btn btn-primary">Регистрация</button>
      <img *ngIf="loading" class="pl-3"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      -->

<!--
      <ng-template #cansel ></ng-template>
-->

      <a routerLink="/login" class="btn btn-link"><ng-template #cansel ></ng-template></a>
    </div>
  </form>
</section>
