<section class="section">
  <div class="section-wrap">
    <div class="section-wrap__info">
      <p class="section-wrap__info_about"><strong>Vandrounic Tour</strong> - активный отдых в самых интересных местах - это наша
        специализация.</p>

      <p class="section-wrap__info_about">Каждый год инструткоры, отправляются в большое количество путешестивий по
        самым разнообразным маршрутам по всей
        Беларуси и ближайшего зарубежья и рады пригласить в них всех, кто хочет отдыхать активно.

      <p class="section-wrap__info_about">Участники наших походов - это, в основном, молодые люди и девушки, но возраст
        не является для нас ограничением,
        присоединиться к походам могут как более взрослые, так и более молодые участники.</p>

      <p class="section-wrap__info_about">Мы предлагаем большое количество активных программ с открытым набором в группы
        - присоединиться можно как
        одному
        участнику, так и с друзьями. Для организованных групп от 10 человек мы готовы предложить поход по любому из
        имеющихся у нас на сайте маршрутов в отдельные удобные сроки.</p>

      <p class="section-wrap__info_about">Инструкторы опытные путешественники, увлеченные и творческие люди, для которых
        походы любого типа, в горы и не
        только, являются
        любимым делом и важной частью жизни. Они познакомят вас с секретами туристского быта, расскажут о природе и
        достопримечательностях маршрута, окажут поддержку и всю необходимую помощь, помогут организовать в группе
        комфортную
        психологическую обстановку.</p>
    </div>
    <div class="section-wrap__info">
      <h2>Какие преимущества получают наши участники:</h2>
      <h4 class="section-wrap__info_item">Предоплата всего 25%</h4>
      <p class="section-wrap__info_quontity">Что вы получаете: за вами сразу закрепляется место в группе, и если с приближением путешествия стоимость
        участия повысится, для вас она останется прежней!</p>

      <h4 class="section-wrap__info_item"> Если у вас изменятся планы – ничего страшного!</h4>
      <p class="section-wrap__info_quontity">Вы сможете скорректировать сроки путешествия или перенести свою заявку на другую программу. Просто сообщите об
        этом за 10 дней, и вся сумма предоплаты будет сохранена.</p>

      <h4 class="section-wrap__info_item">Мы уверены, что вам понравится!</h4>
      <p class="section-wrap__info_quontity">Мы отвечаем за то, что всё будет именно так, как написано на сайте. Если мы не оправдаем ваше доверие, то
        вернём вам деньги.</p>

      <h4 class="section-wrap__info_item">Нам важно ваше мнение!</h4>
      <p class="section-wrap__info_quontity">После путешествия мы связываемся со всеми участниками, чтобы получить обратную связь. Нам важно убедиться,
        что вы довольны. И важно узнать, что вы посоветуете улучшить. Это помогает нам при организации следующих
        путешествий.</p>
    </div>
  </div>

</section>
