<footer class="footer">
  <section class="container">
    <section class="container__logo">
      <a><img src="../../../../assets/image/vandrounik_logo.png" alt="Vandrounik Tour"></a>
    </section>
    <section class="container__contact">
      <a class="container__contact_item" href=""
         title="Адрес">Воложинский р-н, а.г.Раков, ул.Чапаева, 13<br>
        GPS: 54.086759, 26.538493</a>
      <a class="container__contact_item"
         href="tel:+375291234567" title="Телефон">+375 (29) 123-45-67</a>
      <a class="container__contact_item"
         href="mailto:info@vandrounic.org" title="E-mail">info@vandrounic.org</a>
    </section>
    <section class="container__social-network">
      <img src="../../../../assets/image/icon/Facebook_Logo_(2019).png" alt="facebook">
      <img src="../../../../assets/image/icon/1200px-VK.com-logo.svg.png" alt="vkontacte">
      <img src="../../../../assets/image/icon/Instagram_icon.png" alt="instagram">
    </section>
  </section>
</footer>
