/*связь*/
.contacts {
  display: flex;
  padding: 3.5em .5em;
  background: rgba(250, 250, 250, 0.9);
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 2em;
  margin: 0 auto;
  width: 100%;
  max-width: 76em;
}

.contact-item {
  width: 100%;
  max-width: 14em;
}

.contact-item__title {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1.2em;
  color: #355c57;
}

.contact-item__content {
  color: #8CBD54;
  font-weight: bold;

}

.contact-item__link {
  text-decoration: none;
  color: #8CBD54;
  font-weight: bold;
}

.contact-item__link:hover,
.contact-item__link:active,
.contact-item__link:focus {
  color: #8e5157;
}

.contact-item__link:focus {
  outline: none;
  color: #8e5157;
}

.contact-map {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*форма*/
.section {
  display: block;
  margin: 0 auto;
  width: 100%;
  background: rgba(250, 250, 250, 0.9);
}

.container {
  margin: 0 auto;
  width: 76em;
  max-width: 100%;
  color: black;
}

.container_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.container_top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.input {
  margin: 2em 0.9em;
  padding: 1em;
  width: 25em;
  color: #355c57;
  box-sizing: border-box;
  overflow: hidden;
  background: #e1e1e1;
  border: 2px solid #4f7b46;
  border-radius: 0.8em;
  font-size: 0.95em;
  font-weight: 200;
  z-index: 100;
}

.textarea:focus,
.input:focus {
  outline: none;
  background: white;
}

.textarea {
  margin: 2em 1em;
  padding: 1em;
  color: var(--contact-color);
  box-sizing: border-box;
  overflow: hidden;
  background: var(--contact-bgd-color);
  border: 2px solid var(--contact-border-color);
  border-radius: 0.8em;
  font-size: 0.95em;
  font-weight: 200;
}

p {
  color: red;
  padding-left: 1em;
}

.btn {
  width: 12em;
  margin-left: 0.75em;
}

@media (max-width: 476px) {
  .contact {
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .field_textarea {
    width: 25em;
  }
  .field_textarea {
    text-align: center;
  }
  .textarea {
    width: 35em;
  }
}

@media (min-width: 680px) and (max-width: 1250px){
  .textarea {
    width: 50em;
  }

  .field_textarea {
    text-align: center;
  }
}
