<div class="login">
  <div class="login__card">
    <form (submit)="onSubmit()" class="login__form">
      <h3>Войти на сайт</h3>
      <div class="form-group">
        <input
          id="email"
          type="email"
          name="email"
          [(ngModel)]="email"
          class="form-control"
          required>
        <label for="email">E-mail</label>
      </div>
      <div class="form-group">
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="password"
          class="form-control"
          required
          minlength="6"
          autocomplete="off">
        <label for="password">Пароль</label>
      </div>
      <p><input type="submit" value="Войти"></p>
    </form>
  </div>
</div>
