<section class="direction">
  <div class="direction_content">
    <nav>
      <a
        [routerLink]="[{ outlets: { primary: 'type/водный', type: null } }]"
        routerLinkActive="active">
        Водные
      </a>
      <a
        [routerLink]="[{ outlets: { primary: 'type/горный', type: null } }]"
        routerLinkActive="active">
        Пешие
      </a>
      <a
        [routerLink]="[{ outlets: { primary: 'type/вело', type: null } }]"
        routerLinkActive="active">
        Вело
      </a>
      <a
        [routerLink]="[{ outlets: { primary: 'type/комбинированный', type: null } }]"
        routerLinkActive="active">
        Комбинированные
      </a>
      <a
        [routerLink]="[{ outlets: { primary: 'type/выходного_дня', type: null } }]"
        routerLinkActive="active">
        Выходного дня
      </a>
    </nav>
    <app-direction-type></app-direction-type>
  </div>
</section>
