<div class="direction__content">
  <nav>
    <a
      [routerLink]="[{ outlets: { primary: 'type/водный', pane: null } }]"
      routerLinkActive="active">
      Водный
    </a>
    <a
      [routerLink]="[{ outlets: { primary: 'type/пеший', pane: null } }]"
      routerLinkActive="active">
      Пеший
    </a>
    <a
      [routerLink]="[{ outlets: { primary: 'type/вело', pane: null } }]"
      routerLinkActive="active">
      Вело
    </a> <a
      [routerLink]="[{ outlets: { primary: 'type/комбинированный', pane: null } }]"
      routerLinkActive="active">
      Комбинированный
    </a>
  </nav>
  <app-direction-type></app-direction-type>
</div>
