@import "../../../app.component.css";

.header{
  display: block;
  background: url(../../../../assets/image/bgd_header.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  width: 100%;
  height: 100vh;
  color: var(--header-text-color);
  margin: 0;

}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2em 0;
  margin: 0 auto;
  width: 100%;
}

.navbar-logo img {
  width: 16em;
  height: 8em;
}

.navbar-start{
  display: block;
  padding: 1.05em 0;

}

.navbar-start_item{
  margin: 0.5em;
  padding: 1.05em 1.8em;
  color: #355c57;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.navbar-start_item:hover {
  color: #8CBD54;
}

.navbar-start_item:active {
  color: #8CBD54;
}

.navbar-start_item:focus {
  outline: none;
  color:#8CBD54;
}
