<header class="header">
  <nav class="navbar">
    <!-- logo -->
    <div class="navbar-logo">
      <a class="navbar-item" routerLink="">
        <img src="../../../../assets/image/vandrounik_logo.png">
      </a>
    </div>
    <!-- menu -->
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-start_item" routerLink="">Главная</a>
        <a class="navbar-start_item" routerLink="direction">Маршруты</a>
        <a class="navbar-start_item" routerLink="contact">Контакты</a>
        <a class="navbar-start_item" routerLink="about">О нас</a>
      </div>
    </div>
    <!-- search -->
     <div class="search">
       <input class="search" type="text" placeholder="Поиск">
     </div>
  </nav>
</header>
