<header class="header">
  <nav class="auth">
    <ul class="auth__nav">
      <li *ngIf="!isLoggedIn && showRegister" class="auth__nav_item">
        <a routerLink="/register" class="auth__nav_link">Регистрация</a>
      </li>
      <li *ngIf="!isLoggedIn && showRegister" class="auth__nav_item">
        <a routerLink="/login" class="auth__nav_link">Войти</a>
      </li>
      <li *ngIf="isLoggedIn" class="auth__nav_item">
        <a href="#" class="auth__nav_link">{{ loggedInUser }}</a>
      </li>
      <li *ngIf="isLoggedIn" class="auth__nav_item">
        <a href="#" (click)="onLogoutClick()" class="auth__nav_link">Выйти</a>
      </li>
    </ul>
  </nav>

  <nav class="nav">
    <!-- logo -->
    <div class="nav-logo">
      <a class="nav-item" routerLink="">
        <img src="../../../assets/image/vandrounik_logo.png">
      </a>
    </div>
    <!-- menu -->
    <div class="nav-menu">
      <div class="nav-start">
        <a class="nav-start_item" routerLink="">Главная</a>
        <a class="nav-start_item" routerLink="direction/type/водный">Маршруты</a>
        <a class="nav-start_item" routerLink="contact">Контакты</a>
        <a class="nav-start_item" routerLink="about">О нас</a>
      </div>
    </div>
    <!-- search -->
     <div class="search">
       <input class="search" type="text" placeholder="Поиск">
     </div>
  </nav>

</header>
<!--
<app-auth></app-auth>
-->
<app-auth-form></app-auth-form>
