<!--
<nav class="auth">
  <ul class="auth__nav">
    <li *ngIf="!isLoggedIn && showRegister" class="auth__nav_item">
      <a routerLink="/register" class="auth__nav_link">Регистрация</a>
    </li>
    <li *ngIf="!isLoggedIn && showRegister" class="auth__nav_item">
      <a routerLink="/login" class="auth__nav_link">Войти</a>
    </li>
    <li *ngIf="isLoggedIn" class="auth__nav_item">
      <a href="#" class="auth__nav_link">{{ loggedInUser }}</a>
    </li>
    <li *ngIf="isLoggedIn" class="auth__nav_item">
      <a href="#" (click)="onLogoutClick()" class="auth__nav_link">Выйти</a>
    </li>
  </ul>
</nav>
-->

<router-outlet></router-outlet>

