/* You can add global styles to this file, and also import other style files */
@import url(./assets/css/colors.css);

body {
  margin: 0;
  font-family: Rubic sans-serif;
  font-size: 1rem;
}

a {
  cursor: pointer
}
