<section class="home">
  <div class="home__parallax home__parallax_about">
    <p>Путешествия – это Vandrounik Tour! Для тех, кто собирается активно провести отпуск, уже давно не встаёт вопрос,
      к кому обратиться. Обращаются к нам! В ответ на это высокое доверие мы постоянно развиваемся и гарантируем
      надёжность и высокое качество нашей работы!</p>
    <p>Мы предлагаем большое количество активных программ с открытым набором в группы - присоединиться можно как одному
      участнику, так и с друзьями. Для организованных групп от 10 человек мы готовы предложить поход по любому из
      имеющихся у нас на сайте маршрутов в отдельные удобные сроки. </p>
  </div>

  <div class="home__parallax_kayak">
    <div class="home__parallax_opasity">
      <div class="home__parallax_caption">
        <h3>опытные инструкторы</h3>
        <p>Инструкторы - опытные путешественники, увлеченные и творческие люди,
          для которых походы любого типа, в горы и не только, являются любимым делом и важной частью жизни.
        </p>
      </div>
    </div>
  </div>

  <div class="home__parallax">
    <div class="home__parallax_plus">
      <h3>Если у вас изменятся планы – ничего страшного! </h3>
      <p>Вы сможете скорректировать сроки путешествия или перенести свою заявку на другую программу. Просто сообщите об
        этом за 10 дней, и вся сумма предоплаты будет сохранена.</p>
    </div>
  </div>

  <div class="home__parallax_foot-trip">
    <div class="home__parallax_opasity">
      <div class="home__parallax_caption">
        <h3>Предоплата всего 25%</h3>
        <p>Что вы получаете: за вами сразу закрепляется место в группе, и если с приближением путешествия стоимость
          участия повысится, для вас она останется прежней!
        </p>
      </div>
    </div>
  </div>

  <div class="home__parallax">
    <div class="home__parallax_plus">
      <h3>Мы всё упростили для вас! </h3>
      <p>Не нужно ехать подписывать договор или сканировать документы – на нашем сайте действует публичная оферта.
        У нас удобные способы оплаты, и есть оплата на сайте.</p>
    </div>
  </div>

  <div class="home__parallax_camping">
    <div class="home__parallax_opasity">
      <div class="home__parallax_caption">
        <h3>Мы уверены - вам понравится!</h3>
        <p>Мы отвечаем за то, что всё будет именно так, как написано на сайте. Если мы не
          оправдаем ваше доверие, то вернём вам деньги.</p>
      </div>
    </div>
  </div>

  <div class="home__parallax home__parallax_about">
    <h3> Нам важно ваше мнение! </h3>
    <p>После путешествия мы связываемся со всеми участниками, чтобы получить обратную связь. Нам важно убедиться, что
      вы довольны. И важно узнать, что вы посоветуете улучшить. Это помогает нам при организации следующих
      путешествий.</p>
    <h2 class="home__parallax_title"><i>Приглашаем всех, кто хочет отдыхать активно!</i></h2>
  </div>


</section>
